<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>Jun's Extreme Table Trix</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    </head>
    
    <body>
        <!-- {{ header }} -->
        <h1></h1>
        <h2></h2>
        <!-- {{ nav }} -->
        <p><a href="index.html">Home</a>::<a href="https://github.com/jun3rd/">Jun's GitHub</a>::<a href="https://www.questcomputerservices.com/">Customer of the Month</a></p>

        <!-- {{ Main Content }} -->
        <table>
            <tr>
                <th></th>
                <td></td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <td></td>
                <td></td>
            </tr>
        </table>
        
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <ol>
            <li></li>
            <li></li>
            <li></li>
        </ol>

        <!-- {{ aside }} -->


        <!-- {{ footer }} -->
        <hr />
        <p>&copy; 2016, Webpage Designed by ... Jun</p>
   
    </body>

</html>
