<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>Front End Web Dev Class :: Work and Notes</title>
        <meta charset="utf-8" />
    
    </head>
    
    <body>
        <!-- {{ header }} -->
        <h1>Front End Web Dev Class :: Work and Notes</h1>
        <p>Here you will find a list of class work and notes.</p>
        <p>this is just to test development across 2 different git hosters (bitbucket vs github)</p>
        <!-- {{ nav }} -->
        <!-- {{ footer }} -->
        <p>&copy; 2016, Jun Alvarado</p>
   
    </body>

</html>
