<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>Jun's Extreme Table Trix</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    </head>
    
    <body>
        <!-- {{ header }} -->
        <h1></h1>
        <h2></h2>
        <!-- {{ nav }} -->

        <!-- {{ Main Content }} -->
        <table border="1" cellpadding="10px" width="75%" align="center" cellspacing="0" >
            <tr>
                <th colspan="3" bgcolor="#99cccc">Leapord Sharks</th>
            </tr>
            <tr>
                <td rowspan="3"><img src="images/leopardShark.png" /></td>
                <td>Scientific Name:</td>
                <td>Triakis semifasciata</td>
            </tr>
            <tr>
                <td>Visual Details:</td>
                <td>Maximum length of 7 feet, silver to bronzy gray with dark saddles and spots, lighter underside</td>
            </tr>
            <tr>
                <td>Habitat:</td>
                <td>Marine, sandy and muddy bays in shallow water less than 20 feet (6 meters) in depth. They are located in the Eastern Pacific Ocean from Oregon to the Gulf of California</td>
            </tr>
        </table>

        <!-- {{ aside }} -->

        <!-- {{ footer }} -->
        <p align="right">&copy; 2016, Webpage created by ... <a href="https://github.com/jun3rd">Jun</a></p>
   
    </body>

</html>
